.about__wrapper {
    padding-top: 70px;
}

.about__image {
    img {
        display: block;
        width: 300px;
        height: auto;
        margin: 0 auto;
    }
}

.about__text {
    color: #fff;

    &--left {
        padding: 0 20px;
    }
}

.about {
    background: rgb(38, 57, 78);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        top: -130px;
        height: 200px;
        background: rgb(38, 57, 78);
        background: linear-gradient(0deg, rgba(38, 57, 78, 0.1) 0%, rgba(14, 26, 34, 1) 34%, rgba(9, 22, 31, 0) 57%);
    }
}

.about__capture {
    color: #fff;
    text-align: center;
}

@media(min-width: $mediaWidthTabletHorizontal) {

    
    .about__image {
        float: left;
        width: 400px;
        height: 600px;
        margin: 0;
    }
    
    .about__text {
        font-size: 0.9em;
        text-align: center;

        &--left {
            padding: 0;
            text-align: left;
        }
    }
}

@media(min-width: $mediaWidthLaptop) {

}

@media(min-width: $mediaWidthLarge) {
    .about__wrapper {
       width: 1366px;
       margin: 0 auto;
    }
}