.contact__wrapper {
    padding-top: 0;
    color: #fff;
}

.contact__title {
    margin-bottom: 20px;
    text-align: left;
}

.contact__info {
    margin-bottom: 20px;
}

.contact__button {
    position: static;
    display: inline-block;
}

.contact__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.contact__item {
    margin-right: 30px;
}

.contact__link {
    position: relative;
    // margin-bottom: 50px;
    padding-left: 50px;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
    }

    &--github::before {
        background-image: url("../../img/github.png");
        background-size: contain;
    }

    &--telegramm::before {
        background-image: url("../../img/telegram.png");
        background-size: contain;
    }

    &--vk::before {
        background-image: url("../../img/vk.png");
        background-size: contain;
    }

    &--discord::before {
        background-image: url("../../img/discord.png");
        background-size: contain;
    }
}