.portfolio {
    position: relative;
    background-image: $color1;
    color: #ffffff;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        top: -130px;
        height: 200px;
        background: rgb(23, 37, 1);
        background: linear-gradient(0deg, rgba(23, 37, 1, 0.9) 0%, rgba(14, 26, 34, 1) 34%, rgba(9, 22, 31, 0) 57%);
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        bottom: -130px;
        height: 200px;
        background: rgb(23, 37, 1);
        background: linear-gradient(0deg, rgba(23, 37, 1, 0.9) 0%, rgba(14, 26, 34, 1) 34%, rgba(9, 22, 31, 0) 57%);
        transform: rotate(180deg);
    }
}

.portfolio__content {
    display: block;
    margin-bottom: 25px;
}

.portfolio__stack {
    margin-bottom: 35px;
}

.portfolio__item {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.portfolio__text {
    font-size: 16px;
    margin: 16px 0;
    padding: 0 20px;
}

.portfolio__buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 55px;
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden;
}

.portfolio__button {
    text-shadow: 0 100px 0 #ffffff, 1px 76px 10px #000000;
    transition: all 0.3s ease-in-out;

    &:hover {
        text-shadow: 0 50px 0 #ffffff, 1px 51px 20px #ffffff;
        margin-top: -50px;
        height: 100px;
        background: $bg-color;
    }

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 6px;
        width: 30px;
        height: 30px;
        background-image: url("../img/github-logo.svg");
    }

    &--gate::before {
        top: 14px;
        background-image: url("../img/gate-icon.png");
        background-size: 30px 30px;
        border-radius: 4px;
    }

    &--house::before {
        background-image: url("../img/house-logo.png");
        background-size: 30px 30px;
    }
}
