.section-title {
    margin: 0;
    margin-bottom: 50px;
    font-family: "Press Start 2P", "Arial Black", monospace;
    font-size: 24px;
    color: $color4;
    background: linear-gradient(white, $color4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: 2px;
}

.section-subtitle {
    margin: 0;
    margin-bottom: 26px;
    font-family: "Press Start 2P", "Arial Black", monospace;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
}
