$main-color: #09161f;
$bg-color: #226f81;
$text-color: #294f18;
$text-color-dark: #000000;

$color1: #172501;
$color2: #0e1a26;
$color3: #02343f;
$color4: #4594a5;
$color5: #a6806b;
$color6: #122455;

// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
